<!-- password_reset_form.html -->
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <!-- Incluir el archivo CSS -->
    <link rel="stylesheet" href="{% static 'css/password_reset_confirm.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container reset-password">
            <form method="POST">
                <h1>Cambiar Contraseña</h1>
                <span>Establece tu nueva contraseña</span>
                {% csrf_token %}

                <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                {{ form.new_password1 }}
                {% if form.new_password1.errors %}
                    <div class="errors">
                        {% for error in form.new_password1.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                {{ form.new_password2 }}
                {% if form.new_password2.errors %}
                    <div class="errors">
                        {% for error in form.new_password2.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <button type="submit">Cambiar Contraseña</button>
            </form>
        </div>
    </div>
</body>
</html>
