<!-- password_reset_form.html -->
{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <!-- Incluir el archivo CSS -->
    <link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-container forgot-password active">
            <form method="post">
                {% csrf_token %}
                <h1>¿Olvidaste tu contraseña?</h1>
                <span>Ingresa tu correo electrónico para restablecer tu contraseña</span>
                {{ form.email}}
                <button type="submit" id="sendCode">Enviar código de verificación</button>
            </form>
        </div>
    </div>
</body>
</html>
