{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
    <link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}">
</head>
<body>
    <main class="container">
        <h2>Restablecimiento de contraseña solicitado</h2>
        <p>Hemos enviado un enlace para restablecer la contraseña a su correo electrónico.</p>
    </main>
</body>
</html>
