{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/password_reset_complete.css'%}">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <main class="container">
        <h2>Contraseña cambiada</h2>
        <p>Su contraseña ha sido cambiada correctamente. Ahora puede iniciar sesión con su nueva contraseña.</p>
        
        <a href="#"><p class="button">Login In</p></a>
    </main>

</body>
</html>