* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FFFEF6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    width: 768px;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.container p, .container span {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container label {
    margin-top: 2em;
    text-align: left; /* Alineamos las etiquetas a la izquierda */
    font-weight: bold;
}

.container button {
    background-color: #605F69;
    color: #FFFFFF;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 2em;
    cursor: pointer;
}

.container form {
    display: flex;
    align-items: flex-start; /* Alineamos los elementos al inicio (izquierda) */
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 40px;
    width: 100%;
}

.container input {
    background-color: #EBEBD5;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.errors {
    color: red;
    font-size: 12px;
}

button {
    align-self: flex-start; /* Alineamos el botón también a la izquierda */
}

/* Aseguramos que los campos estén alineados correctamente */
input[type="password"], input[type="text"] {
    text-align: left;
}

/* Centrar el h1 y span */
h1, .container span {
    text-align: center;
    width: 100%;
    margin-bottom: 20px; /* Espacio debajo del h1/span */
}
